<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="master-container">
        <div class="side-bar">
            <ul class="main-menu">
                <li class="brand"><a>GlobalDev</a></li>
                <li class="nav-item">
                    @Html.ActionLink("Patients", "Index", new { controller = "patients" }, new { @class = "navigation" });
                </li>
                <li class="nav-item"><a href="javascript:void(0)" class="navigation" data-div="viewUsersList">Users</a> </li>
                <li class="logOut"><a href="#">Log Out</a> </li>
            </ul>
        </div>

        <div class="content">

            @RenderBody()

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

</body>
</html>
